<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >
    <mat-toolbar>Settings</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-header" color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div fxLayout="row" fxLayoutAlign="space-around center" fxFill *ngIf="!(isHandset$ | async)">
        <mat-select [(value)]="selectedAlgorithm" 
          [fxFlex.lt-md]="20" 
          [fxFlex.lt-lg]="15" 
          [fxFlex.gt-lg]="10" >
          <mat-option *ngFor="let item of algorithmSelect" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>    
        <span [fxFlex.xs]="2" [fxFlex.gt-lg]="1" [fxFlex.gt-md]="1"></span>  
        <button mat-raised-button [fxFlex.lt-md]="10" [fxFlex.lt-lg]="10" [fxFlex.gt-lg]="5">Random</button>      
        <span fxFlex="60"></span>   
        <button mat-button>
          <mat-icon class="material-icons">play_circle_filled</mat-icon>
        </button>
        <span fxFlex="1"></span>  
          
      </div>

     
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
