<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      >
    <mat-toolbar>Settings</mat-toolbar>
    <mat-nav-list fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="1em">
      <mat-select [(value)]="selectedAlgorithm" fxFlex="10">
          <mat-option *ngFor="let item of algorithmSelect" [value]="item.value">
            {{item.viewValue}}
          </mat-option>           
      </mat-select>    
      <a>Random</a>
      <a>Play</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-header" color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div fxLayout="row" fxLayoutAlign="space-around center" fxFill *ngIf="!(isHandset$ | async)">
        <mat-select [(value)]="selectedAlgorithm" 
           (selectionChange)="onAlgorithmSelectChange($event.value)">
          <mat-option *ngFor="let item of algorithmSelect" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>    
        <span ></span>  
        <button class="random-button" mat-raised-button
           (click)="onRandomClick()" 
           >Random</button>      
        <span fxFlex="8 1 40"></span>   
        <button mat-button>
          <mat-icon class="material-icons"
          (click)="onPlayClick()"
          >play_circle_filled</mat-icon>
        </button>
        <span ></span>  
          
      </div>

     
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
