<!-- <div #pixiContainer ></div>
<button type="button" name="button" (click)="calculateGifWrapping()">Gift Wrapping</button>
<button type="button" name="button" (click)="calculateQuickHull()">Quick Hull</button>
<button type="button" name="button" (click)="clearCanvas()">Clear</button>
<button type="button" name="button" (click)="createRandomPoints()">Random</button>-->


<mat-toolbar color="primary">

	
		<mat-form-field>
	
	<mat-select [(value)]="selected">
    <mat-option *ngFor="let item of menuItems" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
	</mat-form-field>
	

  
</mat-toolbar>

